name: CI

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 3 * * *"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - run: make ci
